@using DevExpress.Xpo
@using DevExpress.ExpressApp
@using CoOrga.Survivors.Domain.BusinessObjects
<h1>Wähle deinen Mitarbeiter</h1>
<DxButton Enabled="@cards.Any(c => c.IsSelected)"
          Text="Spiel starten"
          Click="OnSpielStartenClicked">
</DxButton>

@if (CharaktereProAbteilung != null)
{
    @foreach (var abteilung in CharaktereProAbteilung)
    {
        <div class="abteilung-card ">
            <h3>@abteilung.Key</h3>
            @foreach (var charakter in abteilung.OrderBy(c => c.SortIndex))
            {
                <CharakterCard @ref="Card" Charakter="charakter" OnClickCallback="OnCharacterClicked"/>
            }
        </div>
    }
}

@code {

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    [Parameter]
    public IObjectSpace ObjectSpace { get; set; }

    private IGrouping<string, Charakter>[] CharaktereProAbteilung { get; set; }
    private readonly List<CharakterCard> cards = new();

    public CharakterCard Card
    {
        set
        {
            if (!cards.Contains(value))
                cards.Add(value);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        CharaktereProAbteilung = await ObjectSpace.GetObjectsQuery<Charakter>()
                                                  .GroupBy(c => c.Abteilung)
                                                  .ToArrayAsync();

        await base.OnInitializedAsync();
    }

    private void OnCharacterClicked(CharakterCard selected)
    {
        foreach (var card   in cards)
        {
            if (ReferenceEquals(card, selected))
                continue;

            card.RemoveSelectedClass();
        }
    }

    private async Task OnSpielStartenClicked()
    {
        var selectedCharakter = cards.First(c => c.IsSelected)
                                     .Charakter;
        var neuesSpiel = ObjectSpace.CreateObject<Spiel>();
        neuesSpiel.AusgewählterChar = selectedCharakter;
        ObjectSpace.CommitChanges();
        await JSRuntime.InvokeVoidAsync("toggleSideBar");
        NavigationManager.NavigateTo("/CoOrgaSurvivorsGame_Container");
    }
}
